/* Sencha Overrides */
html, body {
    background-color: #ffffff;
    font: 14px/19px Roboto, sans-serif;
}

.x-field {
  padding: 0;
}

.x-button {
  height: 3em;
}

#user-registration, #user-login{

}

#user-registration .x-field-input,
#user-login .x-field-input {
  padding-right: 0px;
}

.x-input-el {
  background-color: white;
}

.login-view-registration-link {
  color: whitesmoke;
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.main-menu {
  padding: 44px 10px;
  font-weight: 600;
}

.main-menu .x-button {
  height: 44px;
  margin: 0px;
}

.main-title-bar {
  height: 44px;
}


.menu-item {
  font-size: smaller;
}

.menu-item .x-button-icon:before {
  color: #FFFFFF;
  font-weight: 100
}
.menu-item .x-button-label {
  color: #FFFFFF;
  font-size: small;
  font-weight: 500;
  padding-left: 10px;
  text-align: left;
}

.menu-item {
  margin-bottom: 0px !important;
}

.x-toolbar.x-toolbar-dark .x-button:focus,
.x-toolbar.x-toolbar-dark .x-button:hover,
.main-title-bar .x-button {
  background-color: transparent;
 }

.x-badge {
  color: black !important;
  border: 0;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
}

.main-title-bar .cart {
  font-size: 1.5em !important;
}

.cart-header {
  color: white;
}

.cart-items-details {
  text-align: right;
  font-style: italic;
  font-family: -webkit-body;
}

#cart-view .x-dataview .x-button,
#user-account .x-dataview .x-button {
  /*background-color: transparent;*/
}


.cart-header .store-name {
  display: inline-block;
  width: 50%;
  font-weight: bold;
}

.cart-header .phone {
  display: inline-block;
  float: right;
  font-style: italic;
  font-family: monospace;
  color: white !important;
}

.cart-header .store-section {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 5px;
}

.cart-header .store-address {
  color: white;
  font-style: italic;
  font-size: smaller;
}

.cart-header .order-section {
  padding-top: 5px;
}

.cart-header .order-total {
  font-weight: 600;
  text-align: right;
  font-style: italic;
}

a:-webkit-any-link {
  color: white;
}

.account-address-list {
  font-size: small;
  padding: 3px 0px;
  color: grey;
}

.x-msgbox .x-title {
  color: black;
}

.store-list .x-list-item,
.order-list .x-list-item {
  margin: 5px 0px;
  color: white;
}

.main-menu .x-list-item  {
 color: white;
 border-top:0px !important;
}

.main-menu .x-list-footer-wrap {
  border-bottom: 1px solid grey !important;
}


/*********************/

.x-form-fieldset-title {
  border-bottom: none;
}

.x-fieldgroup-list-item {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  vertical-align: middle;
  height: 44px;
}

.x-fieldgroup-list-item-value {
  float: right;
  padding-right: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.x-fieldgroup-list-item-href {
  float: right;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid grey;
  padding-right: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.x-fieldgroup-list-item-label {
  float: left;
  padding-right: 5px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fieldgroup  .x-label {
  background-color: lightgrey;
  border-bottom: 1px solid white;
}

.fieldgroup  .x-label:first-child {
  border-radius: 3px 3px 0px 0px;
}

.fieldgroup  .x-label:last-child {
  border-radius: 0px 0px 3px 3px;
}

.item-grid {
  width: 50%;
  height: 150px;
  border-top: 0px;
  border-right: 1px;
  border-bottom: 1px;
  border-left: 0px;
  border-color: lightgrey;
  border-style: solid;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.item-grid-inner {
  padding: 5px;
  font-size: 12px;
}

.item-grid-uom {
  color: #999999;
  font-size: 11px;
}

.item-grid-price {
  font-weight: 600;
}

.fade {
  position: relative;
  height: 2.4em; /* exactly two lines */
}
.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.item-grid-img {
  margin: 0 auto;
  display: block;
  height: 72px;
}

#item-grid-view {
  background-color: #ffffff;
}

/*
 * Styles for toast container. Color to map to Android Material Design guidelines.
 */
.pyo-toast {
    min-height: 25px;
    max-height: 25px;
    margin: 0 15px;
    padding: 5px;
    background-color: #323232;
    text-align: center;
}

/*
 * Styles for message in toast. Change the font/font-size if needed.
 */
.pyo-toast-msg {
    color: white;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * Styles for action button in toast. Change the color/properties if needed.
 */
.pyo-toast-action-btn {
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding: 0px !important;
    background: transparent !important;
    border: 0px !important;
    color: rgb(255,255,66);
    font-size: 12px;
    text-transform: uppercase;
}

.x-menu .x-button {
     margin-bottom: 0px; 
}

.x-menu {
  background-color: #383A3F;
}